
.browse-container {
    .modal-content {
        background-color: $orange;
    }
    .modal-body {
        background-color: $dark-blue;
        font-size: 1.2rem;
    }
    .modal-footer {
        background-color:$dark-blue;
        color:$white;
        .btn-navy {
            background-color:  $orange;
            border: 1px solid $orange;
            color: $white;
        }    
    }
}

