.favorites-container {

    h2 {
        color: $white;
        font-size:2.5rem;
    }

    .favorites-h3 {
        color: $teal;
    }

    form .btn-details {
        background-color: $teal;
        color: $white;
    }
    
    
    form .btn-danger {
        background-color: $orange;
    }

}

