
    .back-to-top {
        position: fixed;
        bottom: 25px;
        right: 25px;
        display: none;
        background-color: $yellow;
        i {
        color: $dark;
        }
    }

.page_index {
    .landing-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 70vh;
        margin:0;
        padding:0;
        // background-image:url("/img/reel.jpg"); 
        // background-size: contain;
        // height: 85vmin;
        // top: -147px;
        
        // // -webkit-box-shadow: inset 0px 0px 73px 57px $dark;
        // // -moz-box-shadow: inset 0px 0px 73px 57px $dark;
        // // box-shadow: inset 0px 0px 73px 57px $dark;
        // background-size: cover;


        h2 {
            color: $orange;
            font-size: 2.5rem;
            margin-bottom:0;
        }


        .form-control {
            font-size: 2rem;
            width:50%;
            margin: 0 auto;
            border:0;
            border-bottom:1px solid $white;
            border-radius: 0;
            background-color:rgba(0,0,0,0) !important;
            color: $white;
        }


        .form-control::placeholder {
            color: $white;
            font-family: $bitter;
        
        }
        input {
            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px $dark;
        }
            
        input[type="text"] {  
            text-align: center; 
            font-family: "Work Sans", sans-serif;
            font-size:1.4rem;

            box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px $dark;
        } 
        #indexSubmit {
            width:100%;
            margin-top:10%;
            background-color: transparent;
        }
        .btn-primary{
            font-size:1rem;
            color: $white;
            background-color: transparent;
            border-color:$teal;
            font-family: $work-sans;
            padding-top:1px;
            padding-bottom:1px;
        }
        .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
            color: #fff;
            font-size:1.2rem;
        }
    }
    .browse-container {
        margin-top: 5rem;
        & > h2 {
            padding-top: 3rem;
            margin-top:4rem;
            margin-bottom: 0;
            font-family: 'Work Sans', sans-serif;
            color: $white;
            font-size: 3.5rem;
        }
        .modal-header {
            h2 {
                font-size: 1.5rem;
            }
        }
        .modal-content {
            background-color: $orange;
        }
        .modal-body {
            background-color: $dark;
            p {
                font-size: 1rem;
            }

            button {
                font-size: 1.5rem;
            }
            .btn-navy {
                background-color:  $teal;
                border: 1px solid $teal;
                color: $white;
            }  
        }
        .modal-footer {
            background-color:$dark;
        }
    }

}



@media (max-width: $breakpoint-tablet) {
    .the-body {
        padding-left:3rem;
        padding-right:3rem;
    }
    .page_index {
        .landing-container {
            height: 75vh;
            .form-control {
                width: 80%
            }
        }
        .col-xl-2 {
            padding-left: 0;
            padding-right: 0;
        }
     
    }
}

@media (min-width: 1200px) {
    .page_index {
        .landing-container {
            .form-control {
                width: 30%
            }
        }

    }
}
