body{
    background: $dark-blue;
    color: $white;
    /* background: linear-gradient(90deg, rgba(217,104,8,0.9) 0%, rgba(9,9,121,0.9418604651162791) 50%, rgba(217,104,8,0.9) 100%
    );    background-attachment: fixed; */

}

.the-body {
}


    // "title":
    //     {"message":"Error, expected `title` to be unique. Value: `Ad`",
    //         "name":"ValidatorError",
    //         "properties":
    //             {"message":"Error, expected `title` to be unique. Value: `Ad`",
    //             "type":"unique","path":"title","value":"Ad"
    //             },
    //             "kind":"unique","path":"title","value":"Ad"
    //     }
            
    // }