.search-container {
    margin-top: 1rem;
    text-align: right;
    max-width: 100%;

    .btn-link {
        color: $teal;
    }

    // new search 
    .new-search {
        border-color: $teal;
        color: $white;
    }
    .new-search:hover {
        color: $white;
    }
    .new-search:focus {
        background-color: $orange;
        color: $white;
    }

    .btn-favorites {
        background-color: $teal;
    }
    /* first movie */


    .best-match {
        text-align: center;
        .best-title {
            font-size: 3rem;
        }
        .best-title span {
            color: $teal;
        }
        h4 {
            font-size:1.5rem;
            margin-bottom:0.3rem;
            color: $teal;
        }
        p {
            font-size: 1.25rem;
            margin-bottom: 0.1rem;
        }
        .cast-profile {
            max-height: 100px;
        }
    }

    #searchForm {
        text-align: left;

        input, select {
            color: $white;
            margin: 0;
            width: 100%;
            padding-left: 0;
            border: 0;
            border-bottom:1px solid $white;
            border-radius: 0;
            background-color:rgba(0,0,0,0) !important;
            font-family: 'Bitter', serif;
        }
        select option {
            color: $dark;
        }
        select option:first-child {
            color: rgba(239,230,221, 0.5);
        }
        

    }

    .search-forms {
        top: -147px;
        padding-top: 5rem;
        height: 80vh;

        #searchForm {
            width: 78%;
        }

        

        input::placeholder {
            color: rgba(239,230,221, 0.5);
        }

        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
        /* Firefox */
        input[type=number] {
        -moz-appearance: textfield;
        }

        h2 {
            font-size: 3.3rem;
            color: $white;
        }
        h5 {
            color:$yellow;
            font-size: 2.3rem;
        }

        .form-control {
            font-size: 1.3rem;
        }
        #genre {
            height: 62px;
        }

        .btn-group-toggle {
            margin: 0 auto;
            width: 78%;
        }
        .btn-group-toggle .searchButton {
            color: $white;
            
        }
        .btn {
            font-size: 1rem;
            padding-left: 4px;
            padding-right: 4px;
        } 
        #submitButton {
            border-color: $yellow;
            color: $yellow;
        }
    }

    .other-matches {
        color: $white;
        
        .search-img {
            width: 100%;
            margin-top: 1rem;
        }

    }








    


    .search-forms h2 {
    }
    
    .search-forms .btn {
        background-color: $dark; /*#020024 fffdf7*/
        border: 1px solid ;
        color:$white;
        border-color: $teal;
    }
    
    .btn.focus, .btn:focus {
        box-shadow:none;
    }
    
    .form-check {
        font-size: 1.25rem;
    }
    
    .form-check-input {
        width:20px;
        height: 20px;
        display: inline-block;
    }
    
    .form-check-label {
        padding-left: 0.25rem;
        padding-right: 1.5rem;
    }
    
    .btn-group-toggle  {
        .btn {
            color: $white;
        }
        #genreButton, #yearButton {
            border-color: $orange;
        }
        .active#genreButton, .active#yearButton {
            background: $orange;

        }
        .active#titleButton {
            background: $teal;

        }
    }
    
    .col-md-2 {
        padding: 0;
    }
    
    #titleButton {
        width: 25%;
    }
    
    #submitButton {
        color: $teal;
        border-color: $teal;
    }
    
    h5 {
        color: $white;
    }
    
    .modal-content {
        background-color: $orange;
    }
    .modal-body {
        background-color: $dark;
        font-size: 1.2rem;
    }
    .modal-footer {
        background-color:$dark;
        color:$white;
        .btn-navy {
            background-color:  $orange;
            border: 1px solid $orange;
            color: $white;
        }    
    }
}

@media screen and (max-width: 768px) {
    .search-container {
        text-align:center;
    }
    .search-first-img {
        height: 50vmin;
    }
    .search-img {
        width: 40%;
    }
}

@media screen and (max-width: 576px) {
    .search-first-img {
        height: 120vmin;
    }
    .search-img {
        width: 80%;
    }

    .search-forms {
        padding-left: 0px;
        padding-right: 0px;
    }
}

// .outer-title {
//     /* padding-left: 15px; */
// }