<div class="container-fluid">
<nav class="navbar smart-scroll navbar-expand-sm navbar-dark align-items-start align-items-center  mb-3">
    <a class="navbar-brand" href="/"><img src ="/img/logo-blue.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
      aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end " id="navbarNav" style="align-items:to;">
      <ul class="navbar-nav align-items-top align-items-right">

        <li class="nav-item">
          <a class="nav-link" href="/search">Search</a>
        </li>
        <li class="nav-item">
          <a class="nav-link " href="/favorites">Favorites</a>
        </li>

        <li class="nav-item">
          {{#if user}}
          <a class="nav-link " href="/auth/logout">Log Out</a>
          {{else}}
          <a class="nav-link " href="/auth/google">Log In</a>

          {{/if}}
        </li>
      </ul>

</nav>

</div>