<div class="col-md-8 offset-md-2 col-lg-6 offset-lg-3 search-forms d-flex flex-column justify-content-center">
            <div class="form-wrapper">
                <h2 class="text-center">Custom Search</h2>
                <div class="btn-group-toggle d-flex justify-content-start" data-toggle="buttons">
                     <label class="btn mr-1 searchButton first-button active" id="genreButton">
                        <input type="checkbox" checked autocomplete="off" >Genre
                    </label>
                    <label class="btn searchButton first-button active" id="yearButton">
                        <input type="checkbox" checked autocomplete="off">Year Range
                    </label>
                    <label class="btn searchButton ml-auto second-button" id="titleButton">
                        <input type="checkbox"  checked autocomplete="off">Title
                    </label>
                </div>
    
                <form method="POST" id="searchForm" class="mx-auto" action="/search/film">        
                    <div class="form-group search-year my-2">
                        <h5>Release Year</h5>
                        <input type="number" autocomplete="off" onfocus="this.placeholder = '' " onblur="this.placeholder = 'MIN'" class="form-control mb-2" id="minYear" name="minYear" placeholder="MIN">
                        <input type="number" autocomplete="off" onfocus="this.placeholder = '' " onblur="this.placeholder = 'MAX'"class="form-control mb-2" id="maxYear" name="maxYear" placeholder="MAX">
                    </div>
                     <div class="form-group search-genre my-2">
                        <h5>Pick Genre</h5>
                        <select class="form-control" id="genre" name="genre" autocomplete="off" onfocus="this.placeholder = '' " onblur="this.placeholder = 'Genre'" aria-placeholder="Genre">
                            <option>Adventure</option>
                            <option>Comedy</option>
                            
                            <option>Drama</option>
                            <option>Documentary</option>
                            <option>Family</option>
                            <option>Fantasy</option>
                            <option>Horror</option>
                            <option>Romance</option>
                            <option>Sci-Fi</option>
                            <option>Thriller</option>
                            <option>War</option>
                        </select>
                    </div>
                    <div class="form-group search-title my-4 d-none">
                        <h5>Title</h5>
                        <label class="sr-only" for="inlineFormInputName2">Name</label>
                        <input type="text" class="form-control mb-2" name="movieTitle" id="movieTitle"  autocomplete="off" onfocus="this.placeholder = '' " onblur="this.placeholder = 'Shawshank Redemption'" placeholder="Shawshank Redemption">
                    </div>
                    <button type="submit" id="submitButton" class="btn btn-block my-3 mx-auto">Search</button>
                </form>
            </div>
        </div>