{{> _navbar}}

<div class="favorites-container" >
    
    <h2 class="text-center favorites-h2">Saved Movies</h2>
    {{#if favorites}}
    
    <div class="row text-center">

        {{#each favorites}}
          
        <div class="col-md-3">
            <img src="http://image.tmdb.org/t/p/w185/{{ poster_path }}" />
    
           <div class="d-flex flex-row justify-content-center text-center">
                <form action="/search/film" method="POST" id="details-form">
                    <input type="hidden" name="movieTitle" id="movieTitle" value="{{title}}" >
                    <button type="submit" class="btn btn-details">&nbsp;Details&nbsp;&nbsp;</button>
                </form>
                <form action="/movies/{{_id}}" method="POST" id="delete-form">
                    <input type="hidden" name="_method" value="DELETE">
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash">&nbsp;&nbsp; Delete &nbsp;&nbsp;</i>
                    </button>
                </form>

           </div>
        </div>
        {{/each}}
    {{else}}
    
        <h3 class="text-center favorites-h3"><i>(No Movies Saved)</i></h3>
    {{/if}}
    
    </div>

</div? 