{{> _navbar}}
{{!-- style="background: url(http://image.tmdb.org/t/p/w342/{{ firstMovie.poster_path }}); background-repeat: no-repeat; background-size: cover; height: 50vmin;" --}}
<div class="container-fluid search-container">
        {{#if firstMovie.poster_path }}
        <div class="text-right">
            <a class="btn new-search mr-1 my-3" href="/search" >New Search</a>
        </div>
        {{/if}}

    <div class="row ">
<!--first movie-->
    {{#if firstMovie.poster_path }}
        {{> _firstMovie }}
    {{else}} 
        {{> _searchForm }}    
    {{/if}}
  

    </div> <!--div.row -->

    {{#if movies}}
        <h3 class="text-center mx-auto mt-4">Other Matches</h3>
    {{/if}}

    <div class="row row justify-content-center other-matches mb-5 mx-auto">
        {{#each movies}}
            {{#if poster_path }}
                {{#if @first}}
                {{else}}
                    {{> _searchMovies }}
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
  <a id="back-to-top" href="#" class="btn btn-lg back-to-top" role="button"><i class="fa fa-chevron-up"></i></a>

</div>



