.navbar {
  background: transparent;
  font-size: 1.3rem;
  font-family: "Work Sans", sans-serif; }
  .navbar img {
    max-width: 250px; }
  .navbar .nav-item {
    color: #BB4430; }
    .navbar .nav-item .nav-link {
      color: #BB4430;
      text-align: right; }

.smart-scroll {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030; }

.scrolled-down {
  transform: translateY(-100%);
  transition: all 0.3s ease-in-out; }

.scrolled-up {
  transform: translateY(0);
  transition: all 0.3s ease-in-out; }

@media screen and (max-width: 768px) {
  .navbar-brand > img {
    max-width: 220px; } }

@media screen and (max-width: 576px) {
  .navbar-brand > img {
    max-width: 200px; } }

@media screen and (max-width: 360px) {
  .navbar-brand > img {
    max-width: 180px; } }

body {
  background: #231F20;
  color: #EFE6DD;
  max-width: 100vw;
  /* background: linear-gradient(90deg, rgba(217,104,8,0.9) 0%, rgba(9,9,121,0.9418604651162791) 50%, rgba(217,104,8,0.9) 100%
    );    background-attachment: fixed; */ }

.search-container {
  margin-top: 1rem;
  text-align: right;
  max-width: 100%;
  /* first movie */ }
  .search-container .btn-link {
    color: #2191fb; }
  .search-container .new-search {
    border-color: #2191fb;
    color: #EFE6DD; }
  .search-container .new-search:hover {
    color: #EFE6DD; }
  .search-container .new-search:focus {
    background-color: #BB4430;
    color: #EFE6DD; }
  .search-container .btn-favorites {
    background-color: #2191fb; }
  .search-container .best-match {
    text-align: center; }
    .search-container .best-match .best-title {
      font-size: 3rem; }
    .search-container .best-match .best-title span {
      color: #2191fb; }
    .search-container .best-match h4 {
      font-size: 1.5rem;
      margin-bottom: 0.3rem;
      color: #2191fb; }
    .search-container .best-match p {
      font-size: 1.25rem;
      margin-bottom: 0.1rem; }
    .search-container .best-match .cast-profile {
      max-height: 100px; }
  .search-container #searchForm {
    text-align: left; }
    .search-container #searchForm input, .search-container #searchForm select {
      color: #EFE6DD;
      margin: 0;
      width: 100%;
      padding-left: 0;
      border: 0;
      border-bottom: 1px solid #EFE6DD;
      border-radius: 0;
      background-color: rgba(0, 0, 0, 0) !important;
      font-family: 'Bitter', serif; }
    .search-container #searchForm select option {
      color: #231F20; }
    .search-container #searchForm select option:first-child {
      color: rgba(239, 230, 221, 0.5); }
  .search-container .search-forms {
    top: -147px;
    padding-top: 5rem;
    height: 80vh; }
    .search-container .search-forms #searchForm {
      width: 78%; }
    .search-container .search-forms input::placeholder {
      color: rgba(239, 230, 221, 0.5); }
    .search-container .search-forms h2 {
      font-size: 3.3rem;
      color: #EFE6DD; }
    .search-container .search-forms h5 {
      color: #F3DFA2;
      font-size: 2.3rem; }
    .search-container .search-forms .form-control {
      font-size: 1.3rem; }
    .search-container .search-forms #genre {
      height: 62px; }
    .search-container .search-forms .btn-group-toggle {
      margin: 0 auto;
      width: 78%; }
    .search-container .search-forms .btn-group-toggle .searchButton {
      color: #EFE6DD; }
    .search-container .search-forms .btn {
      font-size: 1rem;
      padding-left: 4px;
      padding-right: 4px; }
    .search-container .search-forms #submitButton {
      border-color: #F3DFA2;
      color: #F3DFA2; }
  .search-container .other-matches {
    color: #EFE6DD; }
    .search-container .other-matches .search-img {
      width: 100%;
      margin-top: 1rem; }
  .search-container .search-forms .btn {
    background-color: #231F20;
    /*#020024 fffdf7*/
    border: 1px solid;
    color: #EFE6DD;
    border-color: #2191fb; }
  .search-container .btn.focus, .search-container .btn:focus {
    box-shadow: none; }
  .search-container .form-check {
    font-size: 1.25rem; }
  .search-container .form-check-input {
    width: 20px;
    height: 20px;
    display: inline-block; }
  .search-container .form-check-label {
    padding-left: 0.25rem;
    padding-right: 1.5rem; }
  .search-container .btn-group-toggle .btn {
    color: #EFE6DD; }
  .search-container .btn-group-toggle #genreButton, .search-container .btn-group-toggle #yearButton {
    border-color: #BB4430; }
  .search-container .btn-group-toggle .active#genreButton, .search-container .btn-group-toggle .active#yearButton {
    background: #BB4430; }
  .search-container .btn-group-toggle .active#titleButton {
    background: #2191fb; }
  .search-container .col-md-2 {
    padding: 0; }
  .search-container #titleButton {
    width: 25%; }
  .search-container #submitButton {
    color: #2191fb;
    border-color: #2191fb; }
  .search-container h5 {
    color: #EFE6DD; }
  .search-container .modal-content {
    background-color: #BB4430; }
  .search-container .modal-body {
    background-color: #231F20;
    font-size: 1.2rem; }
  .search-container .modal-footer {
    background-color: #231F20;
    color: #EFE6DD; }
    .search-container .modal-footer .btn-navy {
      background-color: #BB4430;
      border: 1px solid #BB4430;
      color: #EFE6DD; }

@media screen and (max-width: 768px) {
  .search-container {
    text-align: center; }
  .search-first-img {
    height: 50vmin; }
  .search-img {
    width: 40%; } }

@media screen and (max-width: 576px) {
  .search-first-img {
    height: 120vmin; }
  .search-img {
    width: 80%; }
  .search-forms {
    padding-left: 0px;
    padding-right: 0px; } }

.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
  background-color: #F3DFA2; }
  .back-to-top i {
    color: #231F20; }

.page_index .landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 70vh;
  margin: 0;
  padding: 0; }
  .page_index .landing-container h2 {
    color: #BB4430;
    font-size: 2.5rem;
    margin-bottom: 0; }
  .page_index .landing-container .form-control {
    font-size: 2rem;
    width: 50%;
    margin: 0 auto;
    border: 0;
    border-bottom: 1px solid #EFE6DD;
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0) !important;
    color: #EFE6DD; }
  .page_index .landing-container .form-control::placeholder {
    color: #EFE6DD;
    font-family: "Bitter", serif; }
  .page_index .landing-container input {
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px #231F20; }
  .page_index .landing-container input[type="text"] {
    text-align: center;
    font-family: "Work Sans", sans-serif;
    font-size: 1.4rem;
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0), inset 0 0 0 100px #231F20; }
  .page_index .landing-container #indexSubmit {
    width: 100%;
    margin-top: 10%;
    background-color: transparent; }
  .page_index .landing-container .btn-primary {
    font-size: 1rem;
    color: #EFE6DD;
    background-color: transparent;
    border-color: #2191fb;
    font-family: "Work Sans", sans-serif;
    padding-top: 1px;
    padding-bottom: 1px; }
  .page_index .landing-container .btn-primary:hover, .page_index .landing-container .btn-primary:focus, .page_index .landing-container .btn-primary:active, .page_index .landing-container .btn-primary.active, .page_index .landing-container .open > .dropdown-toggle.btn-primary {
    color: #fff;
    font-size: 1.2rem; }

.page_index .browse-container {
  margin-top: 5rem; }
  .page_index .browse-container > h2 {
    padding-top: 3rem;
    margin-top: 4rem;
    margin-bottom: 0;
    font-family: 'Work Sans', sans-serif;
    color: #EFE6DD;
    font-size: 3.5rem; }
  .page_index .browse-container .modal-header h2 {
    font-size: 1.5rem; }
  .page_index .browse-container .modal-content {
    background-color: #BB4430; }
  .page_index .browse-container .modal-body {
    background-color: #231F20; }
    .page_index .browse-container .modal-body p {
      font-size: 1rem; }
    .page_index .browse-container .modal-body button {
      font-size: 1.5rem; }
    .page_index .browse-container .modal-body .btn-navy {
      background-color: #2191fb;
      border: 1px solid #2191fb;
      color: #EFE6DD; }
  .page_index .browse-container .modal-footer {
    background-color: #231F20; }

@media (max-width: 768px) {
  .the-body {
    padding-left: 3rem;
    padding-right: 3rem; }
  .page_index .landing-container {
    height: 75vh; }
    .page_index .landing-container .form-control {
      width: 80%; }
  .page_index .col-xl-2 {
    padding-left: 0;
    padding-right: 0; } }

@media (min-width: 1200px) {
  .page_index .landing-container .form-control {
    width: 30%; } }

.favorites-container h2 {
  color: #EFE6DD;
  font-size: 2.5rem; }

.favorites-container .favorites-h3 {
  color: #2191fb; }

.favorites-container form .btn-details {
  background-color: #2191fb;
  color: #EFE6DD; }

.favorites-container form .btn-danger {
  background-color: #BB4430; }
