.search-img {
    width: 100%;
    margin-top: 1rem;
}

.search-first-img {
    height: 60vmin;
}

.btn-group-toggle .searchButton {
    color: white;
    border-color: #FF8552;
}

@media screen and (max-width: 768px) {
    .search-first-img {
        height: 70vmin;
    }
    .search-img {
        width: 40%;
    }
}

@media screen and (max-width: 576px) {
    .search-first-img {
        height: 120vmin;
    }
    .search-img {
        width: 80%;
    }

    .search-forms {
        padding-left: 0px;
        padding-right: 0px;

    }
}

h1 {
    color: #FF8552;
}

.search-forms h2 {
    color: white;
}

.search-forms .btn {
    background-color: rgb(2,0,36); /*#020024 fffdf7*/
    border: 1px solid ;
    color:white;
    border-color: #49B8A6;
}


.btn.focus, .btn:focus {
    box-shadow:none;
}

.form-check {
    font-size: 1.25rem;
}

.form-check-input {
    width:20px;
    height: 20px;
    display: inline-block;
}

.form-check-label {
    padding-left: 0.25rem;
    padding-right: 1.5rem;
}

.btn-group-toggle .btn.active {
    background:#49B8A6;
}

.col-md-2 {
    padding: 0;
}

#titleButton {
    width: 25%;
}

#submitButton {
    color: #49B8A6;
    border-color: #49B8A6;


}

h5 {
    color: #FF8552;
}

.outer-title {
    /* padding-left: 15px; */
}