

$teal: #2191fb;
// $orange: #BA274a;
$dark: #231F20;
$orange: #BB4430; 
$yellow: #F3DFA2;
$white: #EFE6DD;
$breakpoint-tablet: 768px;

$bitter: 'Bitter', serif;
$work-sans: 'Work Sans', sans-serif;






// $white:#F7F7FF;
// $dark-blue: #111;
// $actually_light_teal: #b2ece1;
// $actualy_teal: #8cdedc;