// $dark-blue:rgb(2,0,36);
// $orange: #FF8552;
// $teal: #49B8A6;
$white:#F7F7FF;

// $off-white: #F7F7FF;


$dark-blue: #111;
$teal: #2191fb;
$orange: #BA274a;
$actually_light_teal: #b2ece1;
$actualy_teal: #8cdedc;

$breakpoint-tablet: 768px;



// $dark-blue:#33030d;
// $orange:  #9d0b28;
// $teal: #5a082d;

// $red: #ff004d;

// $white:#F7F7FF;
// $off-white: #F7F7FF;
